.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    .logo {
      width: 165px;
    }
  }

  &__list {
    display: flex;
    gap: 1.5rem;
  }

  &__link {
    color: var(--primary-color-desaturated);
  }
}
