.section-1 {
  margin: 8rem 0;

  &__title {
    margin-top: 3rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__info {
    text-align: center;
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      max-width: 400px;
    }
  }
}
